[submodule "axelor-open-suite"]
	path = modules/axelor-open-suite
	url = https://github.com/axelor/axelor-open-suite.git
[submodule "nemea-modules"]
	path = modules/nemea-modules
	url = https://gitlab.com/davide.fazzolari_faxilla.com/nemea-modules.git
[submodule "modules/nemea-modules"]
	path = modules/nemea-modules
	url = https://gitlab.com/davide.fazzolari_faxilla.com/nemea-modules.git
